.bottom {
    text-align: center;
    margin-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}

.material-icons{
    user-select:none;
}